services:
  db:
    image: postgres:17-alpine
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DATABASE=postgres
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
    volumes:
      - ./.devbox/pg_docker_data:/var/lib/postgresql/data
